body, html{
    padding: 0;
    margin: 0;
    font-family: monospace;
    height: 100%;
    background-color: oldlace;
    overflow-x: hidden;
}

ul{
    list-style: none;
}


#index-logo{
    width: 20%;
    float: left;
}

#index-logo img{
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
    height: auto;
}

#nav-bar-ul-drop-down{
    display: none;
    position: absolute;
    left: 38%;
    top: 90%;
}

#nav-bar-li-drop-down{
    float: none;
    margin-top: 5px;
}


#nav-bar-li:hover>#nav-bar-ul-drop-down{
    display: block;
}

#nav-bar-ul{
    list-style: none;
    position: relative;
    top: 20px;
    font-size: 17px;
    float: right;
    margin-right: 35px;
}

#nav-bar-li{
    display: inline-block;
    margin: 5px;
}



a{
    text-decoration: none;
    color: black;
}

#nav-bar-li>a.selected,a:hover {
    font-weight: bold;
    transition: .5s;
}


#wallpaper-img{
    position: absolute;
    top: 8%;
    width: 100%;
}

#wallpaper-img>img{
    margin: auto;
    display: block;
}

#mj-introduction{
    position: absolute;
    background-color: transparent;
    top: 70%;
    
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
#mj-instroduction p{
    
    font-size: 15px;
}

#mj-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}


#mj-nav-bar-ul{
    list-style: none;
    
}

#mj-nav-bar-li{
    display: inline-block;
    margin: 40px;
}

#mj-nav-bar-li a{
    text-decoration: none;
    color: black;
}


.mj-nav:hover {
    background-color:indianred;
    font-weight: normal;
    transition: .5s;
}


#info{
    border-radius: 30px;
    border: 2px solid black;
    background-color: white;
    position: fixed;
    height: 100px;
    width: 340px;
    left: 5%;
    bottom: 10%;
    
    
}


#info li{
    margin-bottom: 7px;
}


#introduction{
    position: absolute;
    top: 4%;
    left: 25%;
    width: 20%;
    font-size: large;
}



.pair-text{
    background-color: transparent;
    width: 35%;
    height: 37%;
}

#pair1{
    position: absolute;
    left: 7%;
    top: 30%;
}

#pair1>.pair-text-header{
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 0%;
    right: 29%;
}

#pair2{
    position: absolute;
    top: 80%;
    right: 10%;
}


#pair3{
    position: absolute;
    top: 20%;
    right: 5%;
}


.pair-img{
    width: 100%;
    position: absolute;
    left: -15%
}


.pair-text{
    position: absolute;
    top: 10%;
    right: 17%;
    width: 40%;
}

.pair-text-header{
    font-size: 17px;
    font-weight: bold;
    position: absolute;
}

#pair1>.pair-text-header{
    top: 0%;
    right: 240px;
}

#pair2>.pair-text-header{
    top: 0%;
    right: 291px;
}

#pair2>.pair-img{
    width: 120%;
    position: absolute;
    left: -70%;
}

#pair3>.pair-text-header{
    top: 0%;
    right: 331px;
}

